@tailwind base;
@tailwind components;
@tailwind utilities;

.ibm-plex {
  font-family: "IBM Plex Sans" !important;
}

.favorite {
}

.overlap-images {
  display: flex;
}
.overlap-images img {
  margin-left: -20px;
}
.overlap-images img:first-child {
  margin-left: 0;
}
